<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrcornman.otp" >

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />

    <permission
        android:name="com.mrcornman.otp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mrcornman.otp.permission.C2D_MESSAGE" />

    <application
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BaseTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Services -->
        <service android:name=".services.MessageService" >
        </service>

        <!-- Providers -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider472424749579148"
            android:exported="true" />

        <!-- Activities -->
        <activity
            android:name=".activities.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseTheme"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MissingInfoActivity"
            android:label="Missing Info"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.CompleteProfileActivity"
            android:label="Complete Profile"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MainActivity"
            android:label="Main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ClientMatchActivity"
            android:label="Seed"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MakerMatchActivity"
            android:label="Seed Stats"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Facebook"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="Profile"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.PhotoSelectorActivity"
            android:label="Photo Selector"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseTheme" >
        </activity>
        <activity
            android:name=".activities.UserPrefsActivity"
            android:label="User Prefs"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseTheme" >
        </activity>
        <activity
            android:name=".activities.ScoreActivity"
            android:label="@string/title_activity_score"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BaseTheme" >
        </activity>

        <!-- Push Notifications -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.mrcornman.otp" />
            </intent-filter>
        </receiver>
        <!-- TODO: If subclassing ParsePushBroadcastReceiver change class name here too -->
        <receiver
            android:name=".listeners.PushNotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@mipmap/ic_notification" />
    </application>

</manifest>
